body {
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

button {
    background-color: antiquewhite;
    border-radius: 20px;
    border: none;
    height: 40px;
}

main {
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 20px;
}